# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log

# Virtual environments
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations cache
*.sqlite3