# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Staticfiles
staticfiles/

# Pytest
.pytest_cache/

# Migrations cache
*.pyc

# Coverage
htmlcov/
.coverage

# mypy
.mypy_cache/

# IDEs
.idea/